@mixin transition($property...) {
    transition-duration: .3s;
    transition-property: $property;
    transition-timing-function: ease;
}

@mixin flex {
    display: flex;
    align-items: center;
}

@mixin flexCenter {
    @include flex;
    justify-content: space-between;
}

@mixin text($colorText: $grey) {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: $colorText;
}

@mixin media($width) {
    @media screen and (min-width: $width){
        @content;
    }
}

@mixin maxWidth($width) {
    @media screen and (max-width: $width){
        @content;
    }
}