.ml--10 {
    margin-left: 10px;
}

.ml--20 {
    margin-left: 20px;
}

.mr--10 {
    margin-right: 10px;
}

.mr--10 {
    margin-right: 10px;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.position-relative {
    position: relative
}

.position-static {
    position: static
}

.overflow {
    overflow: hidden;
}